# =====================
# APP CONFIG
# =====================
NODE_ENV=development | test | production
APP_NAME=
APP_V=1.0
APP_PORT=3000
APP_URL=https://yourbedomain.com

# =====================
# FRONTEND
# =====================
FRONTEND_URL=https://yourfedomain.com

# =====================
# DATABASE POSTGRESQL
# =====================
DATABASE_URL="postgresql://user:password@localhost:5432/database_name?schema=public&connection_limit=10&pool_timeout=30"
DB_HOST=localhost
DB_USER=postgres
DB_PORT=5432
DB_PASSWORD=
DB_NAME=database_name

# =====================
# DATABASE MYSQL
# =====================
# DATABASE_URL="mysql://root:password@localhost:3306/database_name"
# DB_HOST=localhost
# DB_USER=root
# DB_PORT=3306
# DB_PASSWORD=
# DB_NAME=database_name

# =====================
# JWT
# ACCESS + REFRESH
# =====================
JWT_REFRESH_SECRET=refresh-token-secret
JWT_REFRESH_EXPIRE=7d
JWT_ACCESS_SECRET=access-token-secret
JWT_ACCESS_EXPIRE=1h

# =====================
# LOGGING
# =====================
LOG_LEVEL=info | debug

# =====================
# Cookies
# sameSite: 'strict' → cookie tidak dikirim sama sekali dari domain lain 
# strict: Frontend & backend same domain (misal: app.invet.com → api.invet.com)

# sameSite: 'lax'    → cookie tidak dikirim untuk POST dari domain lain 
# lax: Frontend & backend beda domain, atau pakai redirect (OAuth, email verify link)

# sameSite: 'none'   → cookie dikirim ke semua domain, perlu CSRF token

# use Strict if: Frontend and backend same domain
# use Lax if: # Frontend and backend different domain, or exist OAuth/third-party redirect
# =====================
HTTPONLY_COOKIES=true 
SECURE_COOKIES=false
SAMESITE_COOKIES=lax

# =====================
# CORS
# =====================
CORS_ORIGIN=http://localhost:3000,http://localhost:5432

# =====================
# REDIS
# =====================
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=strongpassword
REDIS_DB=0

# =====================
# CLOUDINARY 
# =====================
CLOUDINARY_CLOUD_NAME=xxxxxxx
CLOUDINARY_API_KEY=xxxxxxx
CLOUDINARY_API_SECRET=xxxxxx

# =====================
# RESEND 
# =====================
RESEND_API_KEY=re_xxxxxxxx
EMAIL_FROM=onboarding@resend.dev
